* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.banner {
    background-image: url("./images/banner/banner1.png");
    height: 100vh;
    width: 217vh;
}

.hero-section {
    padding: 150px 200px;
    text-align: right;
    /* float:right; */
}

.section-title {
    font-size: 60px;
    padding: 20px 0;
}

.section-description {
    padding: 20px 0;
}

.primary-btn {
    background-color: #F15B22;
    color: white;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 1px 1px 1px 1px rgb(170, 166, 166);
    border: none;
    border-radius: 5px;
    margin: 20px 0;
}

main {
    padding: 100px 180px;
}

.failure-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.previous-year-failure {
    padding-left: 50px;
}

.fa-check {
    color: green;
}


.my-plans-section .section-title {
    text-align: center;
    padding: 40px 0;
}


.plan-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.plan-items h3 {
    padding: 15px 0;
}

.plan-items img {
    padding: 20px 0;
}
.path-web-development{
    text-align: center;
    margin: 100px 0;

}
.step-by-step{
    display: flex;
    align-items: center;
    justify-content: center;

}
.step{
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gray;
    margin: 20px;
}
.step img{
    padding: 20px 0;
    width: 30%;
}
.mindset{
    margin: 100px 100px;
    background-image: url("images/gradient2.png"), url("images/watch.png");
    padding: 40px;
    border-radius: 10px;
}
.positive-mindset{
    color: white;
}
.mindset button{
    margin: 15px 0;
}

.footer-section {

    display: flex;
    gap: 300px;
    justify-content: space-between;
    background-color: #151414;
    padding: 100px 200px;
    color: white;
}
footer img{
    margin-right:10px;
}
footer p{
    padding: 15px 0;
}
/* .footer-title{
    margin: 100px 0;
} */
input[type=email]{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #151414;
    padding: 15px 10px;
    margin: 20px 0;
}
.secondary-btn{
    background-color: white;
    color: red;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;

}